body {
    background-image: url('https://i.pinimg.com/736x/03/de/7f/03de7fde9751ea67edff5f5824902c32.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    padding-top: 70px; 
}

/* Fixed Navbar Styling */
.navbar {
    background-color: goldenrod;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px 0;  
}

/* Navbar Brand */
.navbar .navbar-brand {
    font-size: 23px;
    font-weight: bold;
    color: #f5f5f5;
}

/* Navbar Links */
.navbar-nav .nav-link {
    color: #f5f5f5; 
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
}
