body {
  background-image: url('https://images.pexels.com/photos/635279/pexels-photo-635279.jpeg?cs=srgb&dl=pexels-bella-white-201200-635279.jpg&fm=jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  font-family: 'Numans', sans-serif;
  color: aliceblue;
}

/* Container Styling */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

/* Card Styling */
.card {
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}

/* Forgot Password header Styling */
.card-header h3 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

/* Login button Styling*/
.login_btn {
  color: black;
  background-color: #FF7F50;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Login button on hover */
.login_btn:hover {
  background-color: #FF6347;
  color: white;
}

/* Sign in Link styling */
.links {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.links a {
  margin-left: 4px;
  color: #FF7F50;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #FF6347;
  text-decoration: underline;
}

/* Footer Styling */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  font-weight: bolder;
}

/*Media Queries */
@media (max-width: 576px) {
  .card-header h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card {
    width: 90%;
  }

  .card-header h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 769px) {
  .card {
    width: 400px;
  }

  .card-header h3 {
    font-size: 2rem;
  }
}
