body {
  background-image: url('https://media.timeout.com/images/106150176/750/422/image.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  height: 100vh; 
  font-family: 'Numans', sans-serif; 
  color: aliceblue;

}

/* Container Styling */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

/* Card styling */
.card {
  width: 100%; 
  max-width: 400px; 
  height: auto; 
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

/* Header within the card */
.card-header h3 { 
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/*input fields */
input:focus {
  outline: none;
  box-shadow: none;
}

/* Styling for the login button */
.login_btn {
  color: black;
  background-color: #FF7F50;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the login button */
.login_btn:hover {
  background-color: #FF6347;
  color: white;
}

/* Styling for the links section */
.links {
  color: white;
  text-align: center;
  margin-top: 20px;
}

/* Styling for links*/
.links a {
  margin-left: 4px;
  color: #FF7F50;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect for links */
.links a:hover {
  color: #FF6347;
}

/* Styling for forgot password link */
.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.forgot-password a {
  font-size: 15px;
}

.forgot-password a:hover {
  text-decoration: underline;
  color:white;
}

/* Footer Styling */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent; 
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  font-weight: bolder;
}

/* Media queries*/
@media (max-width: 576px) {
  .card {
      padding: 15px; 
  }
  .card-header h3 {
      font-size: 1.5rem; 
  }
  .login_btn {
      padding: 12px; 
  }
  .forgot-password a {
      font-size: 14px; 
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card {
      width: 90%; 
  }
  .card-header h3 {
      font-size: 1.75rem; 
  }
  .login_btn {
      padding: 12px;
  }
}

@media (min-width: 769px) {
  .card {
      width: 400px; 
  }
  .card-header h3 {
      font-size: 2rem; 
  }
  .login_btn {
      padding: 14px;
  }
}
