.footer {
    background-color: #E8AA9B;
    color: #2c2c2c;
    text-align: center;
    padding: 15px 0;
    width: 100vw; /* Ensures full width */
    box-sizing: border-box; /* Prevents padding from shrinking width */
    position: absolute;
    bottom: 0;
}
