.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../images/guestlogin-background.jpg') no-repeat center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.loginBox {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer label {
    margin-top: 10px;
    font-weight: bold;
}

.loginContainer input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.register {
    margin-top: 15px;
}

.register a {
    text-decoration: none;
    color: #E8AA9B; 
}

.register a:hover {
    text-decoration: underline;
}

.backButton {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #C58B88; 
    color: #2c2c2c;
    border: none;
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    width: 100%;
}
.enterButton {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #E8AA9B; 
    color: #2c2c2c;
    border: none;
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    width: 100%;
}
.backButton:hover, .enterButton:hover {
    background-color: #DCD5DC; 
}

.buttonContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.actionButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px; 
    height: 120px; 
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #E8AA9B;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    overflow: hidden;
    position: relative; 
}

.actionButton:hover {
    background-color: #DCD5DC;
}

.buttonImage {
    width: 100%; 
    height: 70%; 
    object-fit: contain; 
    position: absolute;
    top: 10px; 
}

.buttonText {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6); 
    padding: 5px 0;
    border-radius: 4px;
}
