.header {
    display: flex;
    justify-content: space-between; /* Space between the title and nav */
    align-items: center; /* Aligns items vertically in the middle */
    padding: 20px; /* Adds space inside the header */
    background: linear-gradient(to right, rgba(155, 77, 97, 0.788), #d1a4a4d3);
    color: #2c2c2c;
    width: 100vw;
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Nice clean font for all elements */
}

.title {
    font-size: 24px; /* Makes the title a bit larger for emphasis */
}

h1 {
    font-style: italic;
}

.nav ul {
    list-style-type: none;
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
    display: flex;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    color: #2c2c2c;
    text-decoration: none; /* Removes underline from the links */
    padding: 8px 16px;
}

.nav a:hover {
    background-color: #E8AA9B;
    border-radius: 4px; /* Rounds the corners of the link */
    border: 1px solid #a96d5f;
}

/* Responsiveness for screens that are 400px or less */
@media (max-width: 400px) {
    .header {
        flex-direction: column; /* Changes the flex direction to vertical */
        align-items: center;
        text-align: center;
    }

    .title {
        margin-bottom: 10px;
    }

    .nav ul {
        flex-direction: column; /* Stacks the links vertically */
    }

    .nav li {
        margin-bottom: 8px;
        margin-left: 0; /* Removes left margin for a cleaner layout */
    }
}
