body {
  background-image: url('https://media.timeout.com/images/106150176/750/422/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  font-family: 'Numans', sans-serif;
  padding-bottom: 80px; 
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.card {
  width: 400px;
  height: 370px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}


.card-header h3 { 
  color: white;
  text-align: center;
  margin-bottom: 20px;
}


input:focus {
  outline: none;
  box-shadow: none;
}


.remember {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.remember input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login_btn {
  color: white;
  background-color: #FF7F50
  ;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login_btn:hover {
  background-color: #FF6347;
  color: white;
}

.links {
  color: white;
  text-align: center;
  margin-top: 20px;
}


.links a {
  margin-left: 4px;
  color: #FF7F50;
  text-decoration: none;
  transition: color 0.3s ease;
}


.links a:hover {
  color: #FF6347;
  text-decoration: underline;
}

.login_btn {
  width: 100%;
}


.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 10px; 

}

.forgot-password a {
  font-size: 15px; 
  color:skyblue;

}

.forgot-password a:hover {
  text-decoration: underline;
  
}


@media (max-width: 576px) {
  .card {
      width: 90%; 
      height: auto; 
      padding: 15px; 
  }

  .card-header h3 {
      font-size: 18px; 
  }

  .login_btn {
      padding: 12px; 
  }

  .forgot-password a {
      font-size: 14px; 
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card {
      width: 80%; 
      padding: 25px;
  }

  .card-header h3 {
      font-size: 20px; 
  }

  .login_btn {
      padding: 12px; 
  }

  .forgot-password a {
      font-size: 14px;
  }
}


@media (min-width: 769px) {
  .card {
      width: 400px; 
      height: 370px;
      padding: 20px; 
  }

  .card-header h3 {
      font-size: 24px; 
  }

  .login_btn {
      padding: 15px; 
  }

  .forgot-password a {
      font-size: 16px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}